td,th, tr {
    border: #c41177 2px solid;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;

}
thead{
    font-family: Algerian;
    font-size: 28px;
    color: aqua;
}
h2 {
    text-align: center;
    font-size: 28px;
    color: #1230c4;

}
tr:nth-child(even){
    background-color: #45be45;
}